@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #b499c4;
    --cor2: #b98fbf;
    --cor3: #efa451;
    --cor4: #552792;
    --cor5: #f1e8e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    transition: all 0.5s ease;
}

nav {
    width: 100%;
    background-color: var(--cor4);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    height: 90px;
    transition: all 0.5s ease;
}

nav img {
    width: 70px;
    margin-left: 50px;
    transition: with 0.2s ease-out;
}

.scrollado {
    padding : 5px;
    height: 40px;
    transition: all 0.5s ease;
}

.link-scrollado {
    font-size: 1em;
    transition: all 0.6s ease-out;
}

nav.scrollado img {
    width: 30px;
    transition: with 0.2s ease-out;
}

ul {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: width 0.5s ease;
    margin-right: 20px;
}

li{
    list-style: none;
   
}


li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    background-color: transparent;
    padding: 15px;
    transition: background-color 0.5s ease-out, border-radius 0.5s ease-out, font-size 0.5s ease, padding 0.2s ease-in;
    border-radius: 5px;
    color: var(--cor5);
}

li a:hover {
    border-radius: 25px;
    background-color: #a46eeb49;
    transition: background-color 0.05s ease-in, border-radius 0.05s ease-in;
}

#inicio {
    height: 100vh;
    background-color: var(--cor2);
    display: flex;
    justify-content: center;
    align-items: center;

}

#inicio img {
    margin-top: 200px;
    width: 45%;
    filter: drop-shadow(5px -10px 30px rgba(243, 243, 243, 0.5));
}

#sobre {
    height: 100vh;
    background-color: var(--cor1);

}

#sobre h1 {
    color: var(--cor5);
    text-align: center;
    padding: 30px 0px 0px 40px;
    font-size: 3em;
}

#sobre h1 span{
    color: var(--cor4);
}

#planos {
    height: 100%;
    background-color: var(--cor4);
    padding: 0px 0px 50px 0px;
}   

#planos h1 {
    text-align: center;
    padding: 40px 0px 10px 0px;
    font-size: 3em;
    margin-bottom: 40px;
    color: var(--cor3);
}

#planos h1 span {
    color: var(--cor1);
}

#cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    width:350px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.544);
    background-color: var(--cor2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.2s ease-in, box-shadow 0.1s ease-out;
}

.card:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.544);
    transition: transform 0.2s ease-out, box-shadow 0.1s ease-in;
}

.card img {
    width: 100%;
    border-radius: 20px 20px 0 0px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.511);
}

.nome-box {
    padding: 10px;
    font-size: 2em;
    font-weight: 600;
    color: #fdfdfd;
    text-align: center;
}

.valor-box-parcelado {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fdfdfdb6;
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 10px;
}

.valor-box-parcelado spam {
    font-size: 15px;
    color: var(--cor4);
}

.valor-box-total {
    font-size: 1em;
    margin-bottom: 20px;
    color: var(--cor4);
}

.descricao-plano {
    padding: 30px;
}

#contato {
    height: 100vh;
    background-color: var(--cor5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

#contato h1 {
    color: var(--cor4);
    font-size: 3em;
}

#contato h1 span {
    color: var(--cor2);
}

form {
    background-color: var(--cor2);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: var(--cor4);
    font-weight: 700;
}

.idade-pet-label {
    text-align: center;
}

#idade-pet {
    width: 50px;
    height: 50px;
    align-self: center;
    font-size: 1.4em;
    text-align: center;
}

/*ESSE CÓDIGO RETIRA AS SETAS DO INPUT NUMBER*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input, form textarea {
    height: 30px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--cor5);
    padding: 10px;
}

form textarea {
    resize: none;
    height: 100px;
}

form div {
    display: flex;
    align-items: center;
}

form div input {
    width: 20px;
    
}
form div label{
    margin-top: -18px;
    
}

form label {
    margin-bottom: -18px;
}

form button { 
    font-size: 2em;
    width: 200px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: center;
    background-color: var(--cor4);
    color: var(--cor5);
    transition:color 0.2s ease-in, background-color 0.2s ease-out;
}

form button:hover {
    background-color: #7538c4;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
    color: var(--cor3);
}

@media (max-width: 600px) {
    #inicio img {
        width: clamp(150px, 90%, 350px);
    }

    nav img {
        margin-left: 0px;
        transition: margin-left 0.5s ease;
    }
    nav {
        justify-content: space-around;
    }

    ul {
        width: 100%;
        transition: width 0.5s ease;
        gap: 5px;
        margin-right: 0px;
    }

    li a{ 
        font-size: 1.2em;
        transition: font-size 0.5s ease;
    }
    #planos {
        height: 100%;
        padding: 30px;
        
    }

    #planos h1 {
        font-size: 2em;
    }

    #cards {
        flex-direction: column;
        align-items: center;
        padding: 50px 0px 0px 0px ;
    }
}

@media (max-width: 400px) {
        ul {
            gap: 1px;
            
        }

        nav img {
            display: none;
        }

        li a{
        
        font-size: 15px;
        transition: font-size 0.5s ease;
    }

    #planos h1 {
        font-size: 1em;
    }
}