@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #b499c4;
    --cor2: #b98fbf;
    --cor3: #efa451;
    --cor4: #552792;
    --cor5: #f1e8e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

nav {
    width: 100%;
    background-color: var(--cor4);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

nav img {
    width: 70px;
    margin-left: 50px;
    transition: margin-left 0.5s ease;
}

ul {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: width 0.5s ease;
    margin-right: 20px;
}

li{
    list-style: none;
    
    
}


li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    background-color: transparent;
    transition: background-color 0.5s ease-out, border-radius 0.5s ease-out, font-size 0.5s ease;
    padding: 15px;
    border-radius: 5px;
    color: var(--cor5);
    
}

li a:hover {
    border-radius: 25px;
    background-color: #a46eeb49;
    transition: background-color 0.05s ease-in, border-radius 0.05s ease-in;
}

#inicio {
    height: 100vh;
    background-color: var(--cor2);
    display: flex;
    justify-content: center;
    align-items: center;

        img {
            margin-top: 200px;
            width: 45%;
            filter: drop-shadow(5px -10px 30px rgba(243, 243, 243, 0.5));
        }
}

#sobre {
    height: 100vh;
    background-color: var(--cor1);
}

#planos {
    height: 100vh;
    background-color: var(--cor4);
}

#contato {
    height: 100vh;
    background-color: var(--cor5);
}



@media (max-width: 600px) {
    #inicio img {
        width: clamp(150px, 90%, 350px);
    }

    nav img {
        margin-left: 0px;
        transition: margin-left 0.5s ease;
    }
    nav {
        justify-content: space-around;
    }

    ul {
        width: 100%;
        transition: width 0.5s ease;
        gap: 5px;
        margin-right: 0px;
    }

    li a{
        
        font-size: 1.2em;
        transition: font-size 0.5s ease;
    }
}

@media (max-width: 400px) {
        ul {
            gap: 1px;
            
        }

        nav img {
            display: none;
        }

        li a{
        
        font-size: 15px;
        transition: font-size 0.5s ease;
    }
}